@model FuNews.Modals.DTOs.Response.AccountDetailResponse

@{
    ViewData["Title"] = "User Profile";
}

<h2 class="text-center">Account infomation</h2>

<div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <h4 class="card-title">@Model.AccountName</h4>
        <p><strong>Email:</strong> @Model.AccountEmail</p>
        <p><strong>Name:</strong> @Model.AccountName</p>
        <p>
            <strong>Role:</strong> @(Model.AccountRole switch
            {
                1 => "Staff",
                2 => "Lecturer",
                3 => "Admin",
                _ => "Unknown"
            })
        </p>


        <a href="@Url.Action("UpdateStaffProfile", "SystemAccount", new { id = Model.AccountId })" class="btn btn-primary mt-3">Update information</a>
    </div>
</div>
